:root {
  --violet-0: #951c95;
  --violet-1: #860d86;
  --violet-2: #780078;
  --violet-3: #690069;
  --violet-4: #5b005b;
  --violet-5: #4c004c;
  --violet-6: #3e003e;
  --violet-7: #ad92f4;
  --shadow-7: rgba(0, 0, 0, 0.6);
  --shadow-8: rgba(0, 0, 0, 0.5);
  --shadow-9: rgba(0, 0, 0, 0.2);
  --turquoise-1: #3af9d9;
  --turquoise-2: #8bf8c5;
  --yellow-1: #eff69c;
  --white-1: #ffffff;
  --white-2: #556270;
  --orange-1: #ff8000;
  --red-1: #ff0000;
  --brown-1: #f7daa9;
}
